* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

figcaption {
  position: absolute;
  top: 6rem;
  margin-left: 20%;
  margin-right: 20%;
  color: white;
  font-size: 6em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

html, body {
  min-height: 100%;
}
body {
  background: radial-gradient(at top left, rgb(255, 255, 255) 0%, rgb(163, 163, 163) 100%);
  background-repeat: no-repeat;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
  color: black;
}

.layouts {
  margin-left: 5rem;
  margin-right: 5rem;
  font-family: 'Times New Roman', Times, serif;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
  font-family: 'Times New Roman', Times, serif;
}

nav .links {
  display: inline-block;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
}

.Index {
  font-family: 'Times New Roman', Times, serif;

}

.Seaside {
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.HeadingText {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding-top: 5rem;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-bottom: 5rem;
}

.backpic {
  background-image: url(../img/seaside.jpg);
}

.poetry {
  overflow-wrap: normal;
}

/*CARD FLIP*/

.Body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  transform-style: preserve-3d;
  border-radius: 30px;
}

.card .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: 2s ease-in-out;
  transform: perspective(500px) rotateY(0deg);
  border-radius: 30px;
}

.card .face.front {
  background-image: url(../img/geralt_1.jpg);
  border-radius: 30px;
}
.card:hover .face.front {
  transform: perspective(500px) rotateY(180deg);
}

.card .face.back {
  background-image: url(../img/geralt_2.jpg);  
  transform: perspective(500px) rotateY(180deg);  
  border-radius: 30px;
}
.card:hover .face.back {
  transform: perspective(500px) rotateY(360deg);
}
.card .face h2 {
  font-size: 4rem;
  text-transform: uppercase;
  background: transparent;
}

/*CARD FLIP END*/