.Index {
  font-family: 'Times New Roman', Times, serif;

}

.Seaside {
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.HeadingText {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding-top: 100px;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-bottom: 171px;
}